#Intellij
/.idea/
.idea/
/out/

#Gradle
/build

#Archivos de clases compiladas
*.class

#Archivos log
*.log

#Caché del proyecto
.gradletasknamecache

#Gradle GUI config
gadle-app.setting

#Otros
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/.gradle/
/.sonar/
